/** style codes here */
:root{
  --category-nav-text-color: #5f5f5f;
  --category-nav-active-color: var(--color-link);
}

.tsd-navigation h2 {
  font-size: 1.2rem;
}

.tsd-navigation .tsd-navigation__title a {
  padding: 0;
  font-weight: normal;
  color: var(--category-nav-text-color);
}

.tsd-navigation__category__title {
  font-weight: normal;
  color: var(--category-nav-text-color);
}

.tsd-navigation .tsd-navigation__category__links {
  margin-left: 10px;
  padding-left: 15px;
  border-left: 1px dashed #dcdcdc;
}
.tsd-navigation .tsd-navigation__category__link {
  font-size: 14px;
  color: var(--category-nav-text-color);
}
.tsd-navigation a.current {
  background-color: unset;
  color: var(--category-nav-active-color);
}